<br>

<div class="concept-padding_5 concept-radius_10" style="background-color: floralwhite;">
    <button class="btn btn-success btn-block">{{"2017. 11. 20. 월요일 선수 엔트리"}}</button>
    <br>
    <table style="background: url(../../images/soccer_images/halfsoccerGround.png) no-repeat 0 0;
                  background-size: 100% 100%;
                  width: 100%;
                  height: 200px;">
        <tr>
            <td>선수들 데이터 파트</td>
        </tr>
    </table>
    
    <h4>쿼터 선택자</h4>
    <button class="btn colorbox-orange"><img src="../../images/glyphicons_free/glyphicons/png/glyphicons-28-search.png"></button>
    <hr>
    <button class="btn btn-primary">엔트리 이미지 파일 다운로드</button>
    <button class="btn btn-primary">엔트리 Excel 파일 다운로드</button>
    <button class="btn btn-primary">비상 사용할 버튼</button>
</div>