<br>

<div class="concept-padding_5 concept-radius_10" style="background-color: floralwhite;">
    
    <h4 class="btn-danger btn-block concept-radius_30 flex_display" style="text-align: center; height: 50px; padding: 10px; justify-content: space-around;">
        <div empty style="flex-basis: 10%;"></div>
        <span style="justify-content: center; flex-basis: 70%;">
            <span style="font-size: 13px;">TEAM</span>
            <span>ALISA</span>
        </span>  
        <span style="flex-basis: 10%">
            <a>
                <img src="../../images/glyphicons_free/glyphicons/png/glyphicons-31-pencil.png" width="20px" height="20px">
            </a>
        </span>
    </h4>
    
    <button class="btn btn-primary btn-block">신규 선수 추가</button>
    
    <table class="table">
        <thead>
            <tr>
                <th>번호</th>
                <th>선수명</th>
                <th>포지션</th>
                <th>옵션</th>
            </tr>
        </thead>
        <tbody>
            <tr next="ng-repeat">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>