<div class="signup_background" style="padding: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;">
    
    <h1>회원가입</h1>
    <hr>
    
    <label>아이디</label>
        <input type="email" class="form-control" placeholder="아이디로 사용하실 이메일을 입력하세요.">
    <button class="btn btn-success btn-block">중복 확인</button>
    
    <label>비밀번호</label>
    <input type="password" class="form-control" placeholder="비밀번호를 입력하세요.">
    <input type="password" class="form-control" placeholder="비밀번호를 확인해주세요.">
    
    <label>이름</label>
    <input type="text" placeholder="사용하실 이름을 입력해주세요.">
    <label>가입형태</label>
    <select>
        <option>매니저</option>
        <option>선수</option>
    </select>
</div>