<div class="height_full flex_display flex-direction_column justify-content_space-around">
    
    <div empty style="flex-basis: 5%;"></div>
    
    <div class="font-color_aliceblue" style="flex-basis: 30%; text-align: center;">
        <h1>Soccer Manager</h1>
        <h2>2017</h2>
    </div>
    
    <div>
        <div class="input-group" style="padding: 10px 10px 10px 10px;">
            <span class="input-group-addon">
                <img src="../../images/glyphicons_free/glyphicons/png/glyphicons-4-user.png">
            </span>
            <input type="text" class="form-control" name="userid">
        </div>
        <div class="input-group" style="padding: 10px 10px 10px 10px;">
            <span class="input-group-addon">
                <img src="../../images/glyphicons_free/glyphicons/png/glyphicons-45-keys.png">
            </span>
            <input type="password" class="form-control" name="userpassword">
        </div>
    </div>
    
    <div>
        <button class="btn btn-primary btn-block" ui-sref="main">접속</button>
        <button class="btn btn-light btn-block" ui-sref="signup">회원가입</button>
    </div>
    
</div>